# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
import os
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
path = os.path.join('Resources','hawaii_measurements.csv')
df = pd.read_csv(path)
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
# Convert the date column format from string to datetime
df['date'] = df['date'].map(lambda x: dt.strptime(x, "%Y-%m-%d"))
df

           station       date  prcp  tobs
0      USC00519397 2010-01-01  0.08    65
1      USC00519397 2010-01-02  0.00    63
2      USC00519397 2010-01-03  0.00    74
3      USC00519397 2010-01-04  0.00    76
4      USC00519397 2010-01-06   NaN    73
...            ...        ...   ...   ...
19545  USC00516128 2017-08-19  0.09    71
19546  USC00516128 2017-08-20   NaN    78
19547  USC00516128 2017-08-21  0.56    76
19548  USC00516128 2017-08-22  0.50    76
19549  USC00516128 2017-08-23  0.45    76

[19550 rows x 4 columns]

In [11]:
# Set the date column as the DataFrame index
try:
    df.set_index('date', inplace=True)
except KeyError:
    pass
df

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73
...                 ...   ...   ...
2017-08-19  USC00516128  0.09    71
2017-08-20  USC00516128   NaN    78
2017-08-21  USC00516128  0.56    76
2017-08-22  USC00516128  0.50    76
2017-08-23  USC00516128  0.45    76

[19550 rows x 3 columns]

### Compare June and December data across all years

In [20]:
from scipy import stats
import numpy as np

In [16]:
# Filter data for desired months
jun_df = df[df.index.month == 6]
dec_df = df[df.index.month == 12]

In [18]:
# Identify the average temperature for June
j_avg_temp = jun_df["tobs"].mean()
j_avg_temp

74.94411764705882

In [19]:
# Identify the average temperature for December
d_avg_temp = dec_df["tobs"].mean()
d_avg_temp

71.04152933421226

In [ ]:
# Create collections of temperature data

In [ ]:
# Run paired t-test

### Analysis